/src/Accounting/build/*
/src/Accounting/dist/*
/src/Accounting/build/*
/src/AccountingServices/nbproject/private/
/src/AccountingClient/nbproject/private/
/src/AccountingInterfaces/nbproject/private/
/src/AccountingEE/nbproject/private/
/src/AccountingEE/AccountingEE-ejb/nbproject/private/
/src/AccountingEntApp/nbproject/private/
/src/AccountingEntApp/AccountingEntApp-ejb/nbproject/private/
/src/AccountingInterfaces/build/
/src/AccountingEntApp/dist/
/src/AccountingEntApp/build/
/src/AccountingEntApp/AccountingEntApp-ejb/build/
/src/AccountingEntApp/AccountingEntApp-ejb/dist/
/src/AccountingInterfaces/dist/
/src/AccountingClient/build/
/src/ApplicationClient1/nbproject/private/
/src/AccountingClient/dist/
/src/AccountingEJB/nbproject/private/
/src/AccountingEJB/build/
/src/AccountingEJB/dist/